.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.logo {
  width: 200px;
}
.logo img {
  width: 100%;
}
