* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: 'Noto Sans Bengali', sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
