.slogan {
  color: #eee;
  font-size: 4rem;
  font-family: 'Hind Siliguri', sans-serif;
  margin-bottom: 0.5rem;
}
.address {
  color: #00febe;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 6rem;
}

@media screen and (max-width: 600px) {
  .slogan {
    font-size: 3rem;
  }
  .address {
    font-size: 1rem;
    margin-bottom: 10rem;
  }
}
